<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Geo Royale</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/quiz}">Quiz</a></li>
            <li><a th:href="@{/allenamento}">Allenamento</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Indovina la Bandiera!</h1>
        <h2>Qual è la bandiera di <span th:text="${countryName}" ></span>?</h2>
        
     
        <form th:action="@{/allenamento_bandiera_answer}" method="post">
            <input type="hidden" name="countryCode" th:value="${countryCode}">
            <input type="hidden" name="correctAnswer" th:value="${countryFlag}">
            
            <div class="element-row">
                <div th:each="bandiera : ${bandiere}">
                    <button type="submit" name="selectedAnswer" th:value="${bandiera.flag}" 
                           >
                        <img th:src="${bandiera.flag}" th:alt="${bandiera.name}" 
                            >
                    </button>
                </div>
            </div>
        </form>
        
        <div class="button-row">
            <a th:href="@{/allenamento}"><button>Torna all'Allenamento</button></a>
            <a th:href="@{/allenamento_bandiera}"><button > Nuova Domanda</button></a>
        </div>
    </div>
</body>

</html>